  <html>
  <head>
    <title>Seasonality</title>
  </head>
  <body>
  <h2>Calculation of seasonality</h2>
  <span style="margin-bottom: 20px"> Just select *.csv file with quotes and click "Calculate" button. </span>
        <form action="/" method="post" enctype="multipart/form-data">
            <div>
                <input name="file" type="file" multiple=false />
                <input type="submit" value="Calculate" />
            </div>
        </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


  </body>
</html>