<html>
    <head>
    <title>Seasonality</title>
    </head>
    <body>
        <h2>Seasonality calculation</h2>
        <div>Just select *.csv file with quotes and click "Calculate" button.</div>
        <div>
            <a href="https://github.com/shumer198/SeasonalityFromCSV/tree/master/app/quotes"> The sample files to load </a>
        </div>
        <div> The file can contain any set of columns, but there must be columns with the headers "Date" and "Close" among them.</div>

        <div> <h5> For Example:</h5></div>
        <div>"Symbol";"Date";"Open";"High";"Low";"Close"</div>
        <div>GC3-067;04.01.2010;1346,8;1372,4;1341,6;1369,6</div>
        <div>GC3-067;05.01.2010;1369,8;1377,4;1363,3;1365,9</div>
        <div>GC3-067;06.01.2010;1366,3;1388,8;1364,6;1386,8</div>
        <div> GC3-067;07.01.2010;1386,8;1387,3;1376,5;1379,6</div>
        </div>
            <form action="/" method="post" enctype="multipart/form-data" style="margin-top: 20px;">
                <div>
                    <input name="file" type="file" multiple=false />
                </div>
                <div style="margin-top: 20px;">
                    <input type="submit" value="Calculate" />
                </div>
            </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>