  <html>
  <head>
    <title>Seasonality</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        quotes = {{quotes|safe}}
        var new_quotes = []

        new_quotes.push(["Date", "Price", "Seasonality"])

        quotes.forEach(function (arrayItem) {
          new_quotes.push([new Date(arrayItem[0]),
          arrayItem[1],
          arrayItem[2]]);
        })

        var data = google.visualization.arrayToDataTable(new_quotes);

        var options = {
            chartArea: {
              width: '90%',
              height:'90%'
            },
            legend: {
              position: 'top'
            },

          curveType: 'function',
          legend: { position: 'bottom' },

            vAxes: {
              0: {viewWindowMode:'explicit',
                      title: 'Price',
                      gridlines: {color: 'transparent'},
                       },
              1: {title: 'Seasonality', gridlines: {color: 'transparent'}},
            },
            series: {
              0: {targetAxisIndex:0},
              1:{targetAxisIndex:1}
            },

            explorer: {
                 axis:"horizontal",
                 maxZoomOut:8,
                 maxZoomIn: 0.05,
                 keepInBounds: true
            },

          hAxis: {
              format: 'dd/MM/yyyy',
              gridlines: {count: 15}
          }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('price_chart'));
        chart.draw(data, options);
      }

    </script>
  </head>
  <body>
      <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <h2 style="margin-bottom: 0px;">Price and seasonality </h2>
      </div>
      <div style="width: 100%; display: flex; justify-content: center; align-items: center;"> (use scroll to change zoom, press and pull to scroll)</div>
    <a href="/">Back</a>
    <div id="price_chart" style="width: 100%; height: 90%"></div>
  </body>
</html>